asgiref==3.11.1
attrs==26.1.0
autobahn==26.6.2
automat==25.4.16
cbor2==6.1.2
certifi==2026.6.17
cffi==2.0.0
channels==4.3.2
charset_normalizer==3.4.7
constantly==23.10.4
cryptography==49.0.0
daphne==4.2.2
django==6.0.6
django_debug_toolbar==7.0.0
django_ratelimit==4.1.0
django_redis==7.0.0
hyperlink==21.0.0
idna==3.18
incremental==24.11.0
msgpack==1.2.1
packaging==26.2
pillow==12.2.0
psycopg2_binary==2.9.12
psycopg==3.3.4
pycparser==3.0
pyopenssl==26.3.0
python_decouple==3.8
python_dotenv==1.2.2
redis==8.0.1
requests==2.34.2
service_identity==26.1.0
sqlparse==0.5.5
twisted==26.4.0
txaio==26.6.1
typing_extensions==4.15.0
tzdata==2026.2
ujson==5.13.0
urllib3==2.7.0
zope_interface==8.5
