{% extends 'html/profile_page_template.html' %}
{% load static %}
{% block content %}
    <div class="profile-data">
        <div class="cover-photo">
            <img src="{% if background_picture %}/media/{{ background_picture }}{% else %}{% static 'background_pictures/sbcf-default-background.jpg' %}{% endif %}" alt="Cover">
        </div>
        <div class="avatar-container">
            <img src="{% if user_avatar %}/media/{{ user_avatar }}{% else %}{% static 'profile_pictures/default-avatar.png' %}{% endif %}" alt="Profile">
        </div>
        <div class="avatar-container">
            <img src="{% static user_avatar %}" alt="Profile">
        </div>
        <div class="near-avatar">
                <h1>{{username}}</h1>
                {% if not is_owner %}
                    {% if friends %}
                    <button class="add-friend status-friends" disabled>Friends ✅</button>
                    <button class="add-friend remove-btn" onclick="handleFriendRequest('remove', '{{ id }}')">Remove Friend</button>
                {% elif sent_to_him %}
                    <button class="add-friend status-pending" disabled>Request Sent...</button>
                    <button class="add-friend cancel-btn" onclick="handleFriendRequest('cancel', '{{ friendship_request_id }}')">Cancel Request</button>
                {% elif received_from_him %}
                    <button class="add-friend accept-btn" onclick="handleFriendRequest('accept', '{{ friendship_request_id }}')">Accept Request</button>
                    <button class="add-friend deny-btn" onclick="handleFriendRequest('deny', '{{ friendship_request_id }}')">Deny</button>
                {% else %}
                    <button class="add-friend" onclick="handleFriendRequest('send', '{{ id }}')">Add Friend</button>
                {% endif %}
                <button class="message" onclick=" start1on1Chat('{{ id }}')">Message</button>
                        {% endif %}
                </div>
    </div>
    <div class="skills-tab">
        {% for category,skills in techstack_category.items %}
            <h2>{{ category.name }}</h2>
            <hr>
                {% for skill in skills %}
                    <button class="skill">{{skill.name}}</button>
                {% endfor %}
                {% if is_owner %}
                    <input type="text" 
                            class="add-new-name" 
                            data-category-id = "{{ category.id }}"
                            placeholder="Add new skill to {{ category.name }}">
                    <button class="add-btn" onclick="addSkill({{ category.id }})">Add skill</button>
                {% endif %}
                <hr>
        {% endfor %}
        <hr>
        {% if is_owner %}
                <input type="text" class="add-new-name" placeholder="Add new skill category">
                <button class="add-btn" onclick="addSkillSection()">Add section</button>
        {% endif %}
    </div>
    <div class="profile-sections">
        {% for section in profile_sections %}
            <h1 class="section-name">{{section.name}}</h1>
            <pre class="section-content">{{section.content}}</pre>
            <hr>
            {% empty %}
            <tr>
                <td>User has no visible sections</td>
            </tr>
            {% endfor %}
            {% if is_owner %}
                <input type="text" class="add-new-name" placeholder="Add new profile section">
                <button class="add-btn" onclick="addProfileSection()">Add skill</button>
            {% endif %}
    </div>
    <div class="community-projects">
         {% for proj in user_projects%}
             <h1>{{ proj.name }}</h1>
         {% empty %}
                <h2>This user didn't participate in any community projects</h2>
         {% endfor %}
    </div>
    {% endblock %}