{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    {% block title %}
    <title>Profile page {{username}}</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/profile-page.css' %}">
    <link rel="author" href="{% static 'css/img' %}">
    <script src="{% static 'js/edit-profile.js' %}" defer></script>
    <script>
        window.djangoContext = {
        user: {
            username: "{{ username|escapejs }}",
            id : "{{ id|escapejs }}"
        }
    };
</script>
    {% block extracss %}{% endblock %}
    {% block extrajs %}{% endblock %}
</head>
<body>
    <div class="buttons-bar">
        <input type="button" onclick="switchAccount()" value="Login">
        <input type="button" onclick="goToSearch()" value="Search">
        <input type="button" onclick="goToProjectCreation()" value="Make new project">
        <input type="button" onclick="goToInbox()" value="Inbox">
        <input type="button" onclick="goToConversations()" value="Conversations">
        <input type="button" onclick="goToConnections()" value="Connections">
        <input type="button" onclick="goToMyProfile()" value="My profile">
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>