{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ stats.project_name }}</title>
    <link rel="stylesheet" href="{% static 'css/project-page.css' %}">
    <script src="{% static 'js/project-page.js' %}" defer></script>
    <script src="{% static 'js/edit-profile.js' %}" defer></script>
    <script src="{% static 'js/project-settings-page.js' %}" defer></script>
    <script src="{% static 'js/project-files.js' %}"></script>
    {{ stats.files_permissions|json_script:"files-permissions-data" }}
    <script>
    window.djangoContext = {
        project: {
            name: "{{ stats.project_name|escapejs }}",
            id: "{{ stats.project_id }}",
            owner_username : "{{ stats.owner_github_name }}",
            repo_name : "{{ stats.repo_name }}"
        },
        user: {
            username: "{{ stats.user_username|escapejs }}",
            role: "{{ stats.role|escapejs }}",
            file_permissions: JSON.parse(document.getElementById('files-permissions-data').textContent)
        }
    };
    </script>
</head>
<body>
    <div class="main-buttons">
        <button onclick="goToMainProjectPage('{{ stats.project_name }}')">Main project page</button>
        <button onclick="goToSearch()">Search</button>
        <button onclick="goToProjectMembersPage('{{ stats.project_name }}')">See members</button>
        {% if stats.visitor_permissions.can_change_project_settings %}
            <button onclick="goToProjectSettings('{{ stats.project_name }}')">Settings</button>
        {% endif %}
        {% if stats.visitor_permissions.can_invite_others %}
            <button>Invite others</button>
        {% endif %}
        <button onclick="copyLinkToClipboard()">Share page</button>
        {% if stats.role != 'visitor' %}
            <button onclick="goToProjectTaskHistory()">View task history</button>    
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>